/* Sessão */
#exchange {
    max-width: 1100px;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

/* Título */
#title_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    font-family: var(--primary-font);
    color: var(--light-text-0);
    margin: 1.24rem 0 1.24rem 0;
}

/* Buscar */
input:focus {
    outline: 0;
} 

#search_container {
    display: flex;
    align-items: center;
    margin: 1.24rem 0 1.24rem 0;
    justify-content: flex-end;
}

#searchInput {
    border: none;
    border-radius: 1rem;
    width: 20vw;
    height: 5vh;
    padding-left: 1vw;
    font-family: var(--secundary-font);
    height: 4.5vh;
    width: 21vw;
    font-size: 1rem;
}

#search_img {
    padding-right: 0.5rem;
    position: absolute;
}

#search_img:hover {
    cursor: pointer;
}

/* Anúncios */
#cars_container {
    background-color: var(--light-text-0);
    box-shadow: 0px 10px 13px -7px var(--black),
        5px 5px 15px 5px rgb(3 7 30 / 0%);
    border-radius: 0.5rem;
    width: 100%;
    min-height: 100vh;    
}

#cars {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 1rem 2.2rem;
    display: flex;
    justify-content: center;
}

.car_images {
    border-radius: 15px;
    width: 8rem;
    height: 8rem;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
}

.cardCatalog {
    background-color: var(--vivid-orange-1);
    border-radius: 0.5rem;
    padding: 1.88rem;
    margin: 1.25rem 0.31rem 1.25rem 0.31rem;
    text-align: center;
    width: 18%;
}

.cardCatalog .card_cars h1 {
    font-family: var(--secundary-font);
    margin: 0;
}

.cardCatalog .card_cars p {
    color: var(--red1);
    font-family: var(--secundary-font);
    font-size: 0.9rem;
    font-weight: 500;
}

.cardCatalog .card_cars button {
    background-color: var(--dark-green);
    border-radius: 0.5rem;
    border: none;
    color: var(--light-text-0);
    cursor: pointer;
    font-size: 0.88rem;
    font-family: var(--primary-font);
    margin: 4px;
    padding: 0.2rem;
    text-transform: uppercase;
    width: 75%;
}

.cardCatalog .card_cars button#offer{
    background-color: var(--red0);
}

.cardCatalog .card_cars button:hover {
    background: var(--lime-green);
}