footer {
    position: relative;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-text-0);
}

.socialMedia {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1.25rem 0 0.63rem 0;
}

.socialMedia a img {
    height: 2.6vw;
}

.credits {
    padding: 0.63rem 0 1.25rem 0;
}

.credits p {
    font-family: var(--secundary-font);
    font-size: 0.8rem;
}

.credits a {
    font-weight: bold;
    text-decoration: none;
}

.credits a:hover {
    color: var(--red1);
    font-weight: bold;
}