#historic {
    max-width: 1100px;
    width: 100%;
    margin: 2rem 0 2rem 0;
}
#historic_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header_title {
    font-family: var(--primary-font);
    color: var(--light-text-0);
    margin: 1.24rem 0 1.24rem 0;
}
#select_container {
    display: flex;
    align-items: center;
    border: solid 1px;
    border-radius: 10px;
    background-color: #fff;
    width: 15vw;
    height: 6vh;
}
#select {
    border: none;
    height: 4.5vh;
    border-radius: 1rem;
    padding-left: 1vw;
    font-family: var(--secundary-font);
    width: 15vw;
    font-size: 1rem;
}
#select:focus {
    outline: 0;
}
#white_space {
    width: 65vw;
    height: 5vh;
}
#main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}
.cars_container {
    height: 62vh;
    background-color: var(--light-text-0);
    border-radius: 0.5rem;
    margin-bottom: 3vh;
}
.header_car {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: solid 1px #837f7f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    height: 8vh;
    background-color: var(--light-text-0);
    font-family: var(--primary-font);
    
}
.status {
    color: #00A650;
    font-weight: 700;
}
.main_car {
    height: 55vh;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
}
.car_1_exchange {
    background-color: var(--vivid-orange-1);
    width: 22vw;
    height: 45vh;
    align-self: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.car_2_exchange {
    background-color: var(--blue0);
    width: 22vw;
    height: 45vh;
    align-self: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.arrows {
    background-image: url('../assets/img/historic/ArrowsLeftRight.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12vw;
    height: 50vh;
    display: flex;
}
.car1_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    box-shadow: -8px -3px 4px rgb(0 0 0 / 25%);
    height: 20vh;
}
.car2_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    box-shadow: -8px -3px 4px rgb(93 93 93 / 25%);
    height: 20vh;
}
.p1 {
    font-family: var(--secundary-font);
    margin: 0;
}
.p1B {
    color: var(--light-text-0);
    font-family: var(--secundary-font);
    margin: 0;
}
.p2 {
    font-family: var(--secundary-font);
    color: rgba(255,0,0,1);
    font-weight: 500;
}
.p3, .p4 {
    font-family: var(--secundary-font);
}
.car_2_exchange .p3,.car_2_exchange .p4 {
    color: var(--light-text-0);
}