.background {
    background-color: var(--light-text-0);
}

#car_img {
    width: 100%;
}

#home_title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 15px;
}
#home_title2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}
#home_title2 span {
    color: #DC2F02;
}

#home_p1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}
#home_p2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 25px;
}

#home_black_lines {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home_red_line {
    border: 3px solid #9D0208;
}

#home_car_examples {
    width: 100%;
    height: 90vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: var(--light-text-0);
}
#home_cars_container {
    /* background-color: red; */
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cars {
    background-color: #FFBA08;
    width: 25vw;
    height: 25vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car_images {
    border-style: inset;
    border-radius: 15px;
    width: 45%;
    height: 65%;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
}
#car_container2,#car_container4,#car_container6,#car_container8 {
    background-color: #F48C06;
}
#car_one {
    background-image: url("../assets/img/home/car_1.jpg");
}
#car_two {
    background-image: url("../assets/img/home/car_2.jpg");
}
#car_three {
    background-image: url("../assets/img/home/car_3.jpg");
}
#car_four {
    background-image: url("../assets/img/home/car_4.jpg");
}
#car_five {
    background-image: url("../assets/img/home/car_5.jpg");
    background-size: 100%;
}
#car_six {
    background-image: url("../assets/img/home/car_6.jpg");
    background-size: 125%;
}
#car_seven {
    background-image: url("../assets/img/home/car_7.jpg");
    background-size: 100%;
}
#car_eigth {
    background-image: url("../assets/img/home/car_8.jpg");
}
#car_nine {
    background-image: url("../assets/img/home/car_9.jpg");
    background-size: 120%;
}
.cars h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.cars p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.card_cars {
    display: flex;
    flex-direction: column;
    height: 15vh;
}
#info {
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: var(--light-text-0);
}
#info_container {
    background-color: #03071E;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#info_container p {
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.icons {
    background-size: cover;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
}
#phone_icon {
    background-image: url("../assets/img/home/phone_icon.jpg");
    width: 3vw;
    height: 5vh;
    margin-right: 0.5vw;
}
#mail_icon {
    background-image: url("../assets/img/home/mail_icon.jpg");
    width: 3.5vw;
    height: 6vh;
}
#clock_icon {
    background-image: url("../assets/img/home/clock_icon.jpg");
    width: 3vw;
    height: 5vh;
    margin-right: 0.5vw;
}
.border_white {
    border-right: #fff solid 2px;
    height: 10vh;
}
.align_center {
   display: flex;
   align-items: center;
}