header {
    margin: 0 0 0;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
    background-color: var(--blue0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    font-family: var(--primary-font);
}

nav .logo {
    font-family: var(--primary-font);
    color: var(--light-text-0);
    font-size: 1.5rem;
    font-weight: 700;
}

nav .logo span {
    color: var(--orange0);
}
.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    color: var(--light-text-0);
}

li.auth {
    display: none;
}

.menu ul li {
    cursor: pointer;
}
.menu a{
    color: var(--light-text-0);
    text-decoration: none;
}
.menu a:link {
    color: var(--light-text-0);
    text-decoration: none;
}

/* visited link */
.menu a:visited {
    color: var(--light-text-0);
    text-decoration: none;
}

/* selected link */
.menu a:active {
    color: var(--light-text-0);
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--vivid-orange);
    text-decoration: underline;
}
.menu li#user .drop{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 3.5rem;
    right: 1rem;
    position: absolute;
    opacity: 0;
    height: 0;
}
.menu li#user.ondrop .drop{
    background-color: var(--black);
    position: absolute;
    opacity: 1;
    height: auto;
}
.menu li#user .drop::after{
    display: block;
    background-color: var(--orange0);
    position: absolute;
    opacity: 1;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    z-index: 100;
}
.menu li#user > .drop ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    text-align: center;
}

.menu li#user > .drop ul li:hover{
    color: var(--vivid-orange);
    text-decoration: underline;
}

#icon-person {
    color: var(--light-text-0);
}
nav .toggle{
    display: none;
    color: var(--light-text-0);
}

@media only screen and (max-width: 700px) {
    nav .menu{
        display: none;
    }
    nav.show .menu{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--blue0);
    }
    nav.show .menu ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav .toggle{
        display: flex;
    }
    nav .toggle ion-icon[name=close]{
        display: none;
    }
    nav .toggle ion-icon[name=menu]{
        display: block;
    }
    nav.show .toggle ion-icon[name=menu]{
        display: none;
    }
    nav.show .toggle ion-icon[name=close]{
        display: block;
    }
    .menu li#user span{
        padding: 0 0 2px;
    }
    .menu li#user{
        position: relative;
    }
    .menu li#user .drop{
        overflow: hidden;
        height: 0;
    }
    .menu li#user.ondrop .drop{
        overflow: auto;
        height: auto;
    }
}