header {
    margin: 0 0 0;
    width: 100%;
}

nav {
    background-color: var(--blue0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    font-family: var(--primary-font);
}

nav .logo {
    font-family: var(--primary-font);
    color: var(--light-text-0);
    font-size: 1.5rem;
    font-weight: 700;
}

nav .logo span {
    color: var(--orange0);
}
.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: var(--light-text-0);
}

li.auth {
    display: none;
}

.menu ul li {
    cursor: pointer;
}
.menu a{
    color: var(--light-text-0);
    text-decoration: none;
}
.menu a:link {
    color: var(--light-text-0);
    text-decoration: none;
}

/* visited link */
.menu a:visited {
    color: var(--light-text-0);
    text-decoration: none;
}

/* selected link */
.menu a:active {
    color: var(--light-text-0);
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--vivid-orange);
    text-decoration: underline;
}
