@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black: #000000;
    --blue0: #03071e;
    --light-text-0: #ffffff;
    --vivid-orange: #faa307;
    --orange0: #dc2f02;
    --red0: #D00000;
    --red1: #9d0208;
    --primary-font: "Poppins", sans-serif;
    --secundary-font: "Roboto", sans-serif;
}