@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black: #000000;
    --black-t: rgba(0, 0, 0, 0.3);
    --very-dark-blue-t: rgba(3,7,30,0.37); 
    --blue0: #03071e;
    --dark-grayish-red: #837f7f;
    --grayish-magenta: #bab1ba;
    --very-light-gray: #D9D9D9;
    --gray: #bebebe;
    --light-text-0: #ffffff;
    --vivid-orange-1: #FFBA08;
    --vivid-orange: #faa307;
    --orange0: #dc2f02;
    --red0: #D00000;
    --red1: #9d0208;
    --dark-green: #018a43;
    --lime-green: #00A650;
    --strong-green: #00c45f;
    --primary-font: "Poppins", sans-serif;
    --secundary-font: "Roboto", sans-serif;
}

body {
    margin: 0;
    box-sizing: 0;
    background: url(../assets/img/background/giorgio-trovato-2KD6Z-SmTQE-unsplash.jpg) center/cover no-repeat;
}